<a href="https://colab.research.google.com/github/karthik-vana/Python_notes/blob/main/control_statements_%26_conditional_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**control statements**

- `for loop`
- `while loop `

**conditional statements**

- `if`
- `else`
- `elif`
- `break`

**for loop syntax**

- `for <var> in range(sp,ep): `

        - logic here

In [ ]:
for i  in range(11,16):
 print("good mornging")

good mornging
good mornging
good mornging
good mornging
good mornging

In [ ]:
for k in range (21,25):
  print(f'namaste :{k}')

namaste :21
namaste :22
namaste :23
namaste :24

In [ ]:
print('i am from hyderabad')
print('i am from chennai')
for p in range(11,15):
  t = 10
  print(t+100)
  print('ds')
print('i am from dubai')
print('Ai')

i am from hyderabad
i am from chennai
110
ds
110
ds
110
ds
110
ds
i am from dubai
Ai

In [ ]:
for i in range(21,25):
  print(i)

21
22
23
24

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for k in range(11,15):
 print(k)
print('karthik')

11
12
13
14
karthik

In [ ]:
for k in range(11,15):
  pass
print('car')

car

In [ ]:
for i in range (11,14):
  print('a',i)
  print('b',i)
  print('c',i)

a 11
b 11
c 11
a 12
b 12
c 12
a 13
b 13
c 13

**nested loops**

In [3]:
for i in range(11,15):
  print('hello ds')
  for j in range(21,24):
    for k in range(51,55):
      print(i,j,k)

hello ds
11 21 51
11 21 52
11 21 53
11 21 54
11 22 51
11 22 52
11 22 53
11 22 54
11 23 51
11 23 52
11 23 53
11 23 54
hello ds
12 21 51
12 21 52
12 21 53
12 21 54
12 22 51
12 22 52
12 22 53
12 22 54
12 23 51
12 23 52
12 23 53
12 23 54
hello ds
13 21 51
13 21 52
13 21 53
13 21 54
13 22 51
13 22 52
13 22 53
13 22 54
13 23 51
13 23 52
13 23 53
13 23 54
hello ds
14 21 51
14 21 52
14 21 53
14 21 54
14 22 51
14 22 52
14 22 53
14 22 54
14 23 51
14 23 52
14 23 53
14 23 54

In [4]:
for i in range(1,6):
  print(i, end = ' ')

1 2 3 4 5

In [5]:
for i in range(1,6):
  print(i, end = '->')

1->2->3->4->5->

In [6]:
for i in range(11,14):
  for j in range(21,26):
    print('x',end = ' ')
  print()

x x x x x
x x x x x
x x x x x

# **if / else conditions**

In [8]:
money = 20000
iphone = 90000
if money > iphone:
  print('i can buy a iphone mobile')
else:
  print('i dont have enough money to  buy')

i dont have enough money to  buy

# **elif conditions**

In [9]:
money = 20000
iphone = 90000
samsung = 50000
vivo = 30000
if money > iphone:
  print('i can buy iphone')
elif money > samsung:
  print('i can buy samsung')
elif money > vivo:
  print('i can buy vivo')
else:
  print('i dont have enough money')

i dont have enough money

In [10]:
money = 200000
iphone = 90000
samsung = 50000
vivo = 30000
if money > iphone:
  print('i can buy iphone')
elif money > samsung:
  print('i can buy samsung')
elif money > vivo:
  print('i can buy vivo')
else:
  print('i dont have enough money')

i can buy iphone

In [11]:
money = 60000
iphone = 90000
samsung = 50000
vivo = 30000
if money > iphone:
  print('i can buy iphone')
elif money > samsung:
  print('i can buy samsung')
elif money > vivo:
  print('i can buy vivo')
else:
  print('i dont have enough money')

i can buy samsung

In [19]:
#finding the even numbers
for i in range(10,20):
  if i % 2 == 0:
    print(f'even :{i}',end = ' ')
  else:
    print(f'odd :{i}')

even :10 odd :11
even :12 odd :13
even :14 odd :15
even :16 odd :17
even :18 odd :19

In [32]:
#factorial numbers
n = 5
t = 1

for i in range (1,n+1):
  t = t * i
print(t)

120

In [33]:
n = 5
t = 0
for i in range(1,n+1):
  t = t + i
  print(t)

1
3
6
10
15

In [43]:
#finding number is a perfect or not:
n = 6
t = 0
for i in range(1,n):
  if n % i == 0:
    t = t + i
if t == n:

  print(f'{n} is a perfect number')

else:
  print(f'{n} is not a perfect number')

6
6 is a perfect number

In [46]:
n = 8
t = 0
for i in range(1,n):
  if n % i == 0:
    t = t + i
    print(t)

if t == n:
  print(f'{n} is perfect')
else:
  print(f'{n} is not perfect')

1
3
7
8 is not perfect

In [48]:
#iterate two differncce
n = 5
r = 3
for i in range(n):
  print(r * i)

0
3
6
9
12