<a href="https://colab.research.google.com/github/karthik-vana/Python_notes/blob/main/python%20datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Python datatypes***
--------------------
-there are mainly three datatypes in python

1.int-whole numbers

2.float-decimal values

3.string(str)-any values closed inbetween quotes

In [2]:
#ex:int
12
#ex:float
12.00
#ex:str
'karthik'

'karthik'

**variables**
-------------
-if you want to use the data type later for other reasons to save the data type:

-so to save data types in the memory we have concept called "variaables"

In [7]:
#int
a = 24 #save in the memeory
a + 10

34

In [6]:
#float
a = 24.00
a + 10

34.0

In [10]:
#string
a = 'karthik'#save in the memory
a + 'vana'

'karthikvana'

**memory storage**
-----------------
-inter--> 4 bytes of memory

-float-->4 bytes of memory

-string--> each character 1 byte of memory

**print comments**
-print comment calling from the  memory which value is stored for that particular variable

In [11]:
a = 12 #save in the memory
print(a) #calling from the memory

12

In [14]:
a = 10
print(a+10) # appear on the output
print(a-10)

20
0

In [15]:
a = 20 #save in the memory
a = a + 10
print(a) #calling from memory

30

** built in funtion **
--------------------------
'ID'-used to know stored variable address in the memory

In [16]:
a = 20 #save in the memory
print(a) #calling
print(id(a))

20
11642696

In [17]:
a = 30
print(a)
print(id(a)) #finding the address in the memory

30
11643016

**rules to create a variable**

1.first rule-variable should not start with a number,if we want start use with underscore

2.second rule- variables should be single character or single word and multiple words and characters are not allowed as variable

3.third rule- python variables are case sensitive [small & capital latters]

4.fourth rule- don't use below punctuations as a variable
[!'"$%^&*()+-:;"'{\?.,^~?//]

In [20]:
# rule-1
10a = 20
print(10a)

SyntaxError: invalid decimal literal (ipython-input-737744730.py, line 2)

In [19]:
_10a= 20
print(_10a)

20

In [21]:
# Rule no -2
sai kumar = 16

SyntaxError: invalid syntax (ipython-input-3656931976.py, line 2)

In [22]:
sai_kumar = 16

In [23]:
#Rule no-3
city  = 'hyd'
print(CITY)

NameError: name 'CITY' is not defined

In [24]:
city ='hyd'
print(city)

hyd

In [25]:
# Rule no -4
$ = 20
print($)

SyntaxError: invalid syntax (ipython-input-3623941756.py, line 2)