<a href="https://colab.research.google.com/github/karthik-vana/Python_notes/blob/main/Python_Tuple_concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python- tuples**

**tuple**

-tuple is used to store multiple values by using round brackets '()'

-tuple is one of the 4 in-built data types,the other are list[],set{},dictionary{}

-tuple is collection which is ordered & unchangeable

In [1]:
#example
# creating a tuple
tuple  = ('shirt','pant','belt','shoes','spects')
print(tuple)

('shirt', 'pant', 'belt', 'shoes', 'spects')

**tuple items**

-tuple items are 'ordered,'unchangeable' & allow duplicates

-tuple items are indexed,the first item has index [0],the secomd starts with index{1}

**ordered**

-tuple have defined ordered,it means that the items will not change

**unchangeable**

-tuples are unchangeable,it means that we cannot change,add,remove items after the tuple has been created

In [3]:
#example
x =  ('shirt','pant','belt','shoes','spects')
x[1] = 'jacket'
print(x)

TypeError: 'tuple' object does not support item assignment

**Allow duplicates**

-since tuples are indexed,they can have items with same value

In [4]:
#example
states = ('andhra','telangana','andhra','kerala','kerala')
print(states)

('andhra', 'telangana', 'andhra', 'kerala', 'kerala')

**tuple length**

-by using,len() funtion can determine how items in a tuple

In [8]:
#example
states = ('andhra','telangana','andhra','kerala','kerala')
print(len(states))

5

**tuple items - data types **

-tuple items can be any data types int,float,str,bool

In [10]:
tuple = ('karthik',2.2,10,True)
print(tuple)

('karthik', 2.2, 10, True)

# **Python - Access tuple items**

**Access tuple items**

-we can refer tuple items by refering to the index number,inside 'square brackects[]'

-'negative indexing' means start from the end.-1 refers to last item ,-2 refers to second last item

In [19]:
T = (10,20,40,3,5,5)
print(T[1])

20

In [18]:
#negative indexing
T = (10,20,40,3,5,5)
print(T[-1])

5

**range of indexes**

-you can specify a range of indexes by specifying where to start & end

-note:- when specifying a range ,the return value will be new tuple with specified items

In [21]:
#example
T = ('shirt','pant','belt','shoes','spects')
print(T[1:4])

('pant', 'belt', 'shoes')

In [22]:
#example
T = ('shirt','pant','belt','shoes','spects')
print(T[:4])

('shirt', 'pant', 'belt', 'shoes')

**range  of negative indexes**

-specify negative indexes if you want to start search from the end of the tuple

In [25]:
t = (1,3,5,6,2,5,2,25)
print(t[-4:-1])

(2, 5, 2)

**check if item exits**

-to determine if a specified item is present in a tuple or not

In [27]:
T = ('shirt','pant','shoes','belt')
if 'belt' in T:
  print('yes,belt is present')

yes,belt is present

# **Python - update tuples**

-tuple are unchangeable,it means we cannot change,add,remove items in the tuple

**change tuple values**

-once a tuple is created,you cannot change its values.tuples are unchangeable,or imutable

-but there is a chance .you can convert the tuple into a list,change the list and convert the back into tuple

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

**Add items **

-since tuple  are immutable ,they donn't built-in funtions to add items to atuple

-convert tuple to list first,after we can add items to list & again change the list into tuple

In [31]:
x = (1,3,5,2,12)
y = list(x)
y.append('100')
x = tuple(y)
print(x)

TypeError: 'tuple' object is not callable

**tuple**

-in tuple concept same way remove & del items in the tuple by converting tuple to list & then what  are funtions we done

# **Python - unpack tuples**

**unpacking tuples**

-note:-normally packing means,when you are create a tuple we assign values to tuple this is called 'packing' a tuple

In [33]:
#example
fruits = ('apple','banana','cherry')
print(fruits)

('apple', 'banana', 'cherry')

**unpacking**

-but in python,we are also allowed to extract the values back into variables this is called 'unpacking'

In [36]:
#example
fruits = ('apple','banana','grape')
(red,yellow,black) = fruits
print(red)
print(black)
print(yellow)

apple
grape
banana

**using Asterisk**

-if number of values is more than variables,you can addd an "*" to the variable name & reamianing values will be assigned to the variable

In [37]:
#example
numbers = (1,3,44,3,2,5,22)
(first,second,third,*rest) = numbers
print(first)
print(second)
print(third)
print(rest)

1
3
44
[3, 2, 5, 22]

**tropic variable**

-add a list values to the tropic variable

In [38]:
fruits = ('apple','mango','papaya','pineapple','cheery')
(green,*tropic ,red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cheery

# **Python - loops Tuples**

**loop through a tuple**