<a href="https://colab.research.google.com/github/karthik-vana/Python_notes/blob/main/Python_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists concepts**

-lists used to store multiple item in a single variable

-lists are one of the 4 built in data types in python ,other three are tuple,set,dictionary

-lists are created using sqare brackets

-in lists concept memory allocation| slicing | skipping |concepts are similar to Strings

In [ ]:
#let's create a list using square brackets
family = ['pavan','kiran','karthik']
print(family)

['pavan', 'kiran', 'karthik']

**list items**

-list items are ordered,changeable,and allow duplicates

-list items are indexed,first item is starts from[0],[1],[2],[3],...etc until the values finshed their count in a variable

**ordered**

-ordered in the sense,the item have defined order,and will not change

-if you want to change item,it will be appear on the  end of the list

**Lists built-in function**

In [ ]:
#append - adds element at the end of the list
x = ['pavan','kiran','karthik']
x.append('vara laxmi')
print(x)

['pavan', 'kiran', 'karthik', 'vara laxmi']

In [ ]:
#extend- adds elements of a list to the  end of the current list
x = ['pavan','kiran','karthik']
x.extend([10,20])
print(x)

['pavan', 'kiran', 'karthik', 10, 20]

In [ ]:
#insert- adds element at a specific position
x = ['pavan','kiran','karthik']
x.insert(1,'varalaxmi')
print(x)

['pavan', 'varalaxmi', 'kiran', 'karthik']

In [ ]:
#clear-removes all elements
x = ['pavan','kiran','karthik']
x.clear()
print(x)

[]

In [ ]:
#copy -  returns a copy of the list
x = ['pavan','kiran','karthik']
x.copy()
print(x)

['pavan', 'kiran', 'karthik']

In [ ]:
#nrml copy-  whatever the change in list 1 same change will  appear in the list two
'''x =  [10,20,30]
y = x
x[1] = 100
print(x)
print(y) '''

#shaloow copy - changes in first list occur,but  not in second list
x =  [10,20,30]
y = x.copy()
y[1] = 100
print(x)
print(y)

#deep copy
'''list1 = [[1, 2], [3, 4]]
list2 = copy.deepcopy(list1)
list1[1][0] = 999
print(list1)
print(list2)'''

[10, 20, 30]
[10, 100, 30]

In [ ]:
# count - returns the no of elements with specific value

x =  ['pavan','kiran','karthik','pavan']
y= x.count('pavan')
print (y)

2

In [ ]:
#index- returns the index of the first element with specific values
x = [10,30,20,30]
y= x.index(30)
print(y)

1

In [ ]:
#pop- removes the element at the specific position
x =  [10,20,30]
x.pop(0)
print(x)

[20, 30]

In [ ]:
#remove - remove  the element of the specific value
x =  [10,20,30]
x.remove(20)

print(x)

[10, 30]

In [ ]:
#reverse- reverse the order of list
x = [10,20,30]
x.reverse()
print(x)

[30, 20, 10]

In [ ]:
#sort- sort in the list defultly keep values in acending order(ascending or decending using reverse = True)
x = [10,20,30,10,20]
x.sort(reverse = True)
print(x)

[30, 20, 20, 10, 10]

**changeable**

the list is changeable,meaning that we can change,add,remove, items in the list it has been created

In [ ]:
x = ['pavan','kiran','karthik']
x.insert(1,'vara laxmi')
print(x)

['pavan', 'vara laxmi', 'kiran', 'karthik']

**allow duplicates**

-since, lists are indxed,lists can have items with same value

In [ ]:
x = ['karthik','vana','karthik','krishna']
print(x)

['karthik', 'vana', 'karthik', 'krishna']

**list length**

-to determine how many items in the list,by useing len() built-in function use can easily know thw length of the list

In [ ]:
laptops = ['hp','lenovo','dell','lenovo']
print(len(laptops))

4

**lists items - data types**

-list items can contains any data types (int,float,st,bool)

In [ ]:
x =  ['karthik',22,9.5,True]
print(x)

['karthik', 22, 9.5, True]

**Type()**

-lists are defined as objects with data tyoes

In [ ]:
x = ['karthik',22,9.5]
print(type(x))

<class 'list'>

**List constructer**

-it is possible to construct a new list by using list()

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**Python collections (Arrays)**

-list-a collection which is ordered,changeable,allows duplicates

-tuple-a collection which is ordered,unchangeable,allows duplicates

-set-a collection which is unordered,unchangeable, and unindexed,no duplicates

-dictionary-a collection which is ordered,changeable,no duplicates

**python - access list items **

-in list concept,values present in the list are indexed,we can access them referring to the index

- note - the first item has '0' index

In [ ]:
#example
details = ['karthik',22,10] #indexed values
print(details[0]) # access  the value by refering index

karthik

**negative index**

-negative indexing means start from end

-1 refers to the last item ,-2 refers to the second last item

In [ ]:
#example
details = ['karthik',22,10]
print(details[-1])

10

**range of indexes**

- you can specify a range ,where to start & end the range

- *when* specifying a range, the return value will be a new list with specified items

In [ ]:
#example
x = ['karthik',20,2.0,10]
print(x[1:3]) # we have to give less value to high value

[20, 2.0]

**range of negative indexes**
- specify negative indexes,if you want to start the search from the  end of the list

In [ ]:
x = [20,30,40,50,60,70]
print(x[-5:-2]) # we have to give less value to high value

[30, 40, 50]

**check if item exists**

- to determine a specific value present in the  list by using 'in' keyword

In [ ]:
#example
cricket = ['bat','ball','wickects']
if 'ball' in cricket:
  print('yes','we can play now')

yes we can play now

# **python - change list items**

**change item value**

-to change the value of a specific item,refer to the index number

In [ ]:
#example
x =  [10,20,30,40]
x[1] = 100
print(x)

[10, 100, 30, 40]

**change a range of the items**

-to change the value of item with a specific range,define a list with different values,and refer their indexes,where you want to insert new values

In [ ]:
#example
the_list = ['apple','banana','grapes',20,30.1,True]
the_list[1:4] = ['watermelon','mango',10]
print(the_list)

['apple', 'watermelon', 'mango', 10, 30.1, True]

In [ ]:
#example
the_list = ['apple','banana','cherry']
the_list[1:2] = ['watermelon']
print(the_list)

['apple', 'watermelon', 'cherry']

# **loop through a list**

-you can loop through the list items by using a for loop

-looping using list comprehension
(list comprehension offers shortest syntax for looping through list)

In [ ]:
#example
fruits = ['apple','banana','mango']
for x in fruits:
  print(x)

apple
banana
mango

**loop through the the index numbers**

**for loop**

-you can also loop through the list by referring to thier index numbers

-use range() & len() funtions to create a suitable iterable

In [ ]:
#example
friuts =  ['apple','banana','cherry']
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
mango

**while loop**

-we can loop through the list items by using a 'while' loop

-by useing len() funtion to determine the length of the list,then start at 0 and loop your way through the lists items by refering to their indexes

-remember to increase the index by 1 after each iteration

In [ ]:
#example
x = ['apple','banana','cherry']
i = 0
while i < len(x):
  print(x[i])
  i =  i+1

apple
banana
cherry

# **list comprehension**

-list comprehension offers shorter syntax & create a new list based on existing list

-for example,you can create new list containing single condition(createing list having 'a' letter)

-without using list comprehension,we will  have to write code using 'for' loop with condition(if) inside

In [ ]:
#example
cricket_items = ['bat','ball','glouse','pads','ground']
newlist = []
for x in cricket_items:
  if 'a' in x:
    newlist.append(x)

print(newlist)

['bat', 'ball', 'pads']

-with using list comprehension you can do all that with only one line of code

In [ ]:
# syntax = [expression for item in iterable if condition == True]
cricket_items = ['bat','ball','glouse','pads','ground']
newlist = [x for x in cricket_items if 'a' in x]
print(newlist)

['bat', 'ball', 'pads']

**condition**

-the condition is like a filter that only accepts the items which statifies True

In [ ]:
newlist =  [x for x in cricket_items if x != 'bat']
print(newlist)

['ball', 'glouse', 'pads', 'ground']

-with no 'if' statement

In [ ]:
newlist = [x for x in cricket_items]
print(newlist)

['bat', 'ball', 'glouse', 'pads', 'ground']

**iterable**

-iterable can be any object,like list,tuple,set etc..,

-you can use 'range()' funtion to create an iterable

In [ ]:
# for example
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# same example ,but with condition
#  accept numbers lower than 5:
list = [x for x in range(10) if x > 7]
print(list)

[8, 9]

**expression**

-expresssion is current item in iteration,but you can manipulate before it ends up like a new list

In [ ]:
#example
# set the values to uppercase
list = [x.upper() for x in cricket_items]
print (list)

['BAT', 'BALL', 'GLOUSE', 'PADS', 'GROUND']

-you can set the outcomes to whatever you like

In [ ]:
list = ['karthik' for x in cricket_items]
print(list)

['karthik', 'karthik', 'karthik', 'karthik', 'karthik']

-the expression can also contain conditions,not like a filter,but as a way to ,manipulate  the outcome

In [ ]:
#example,
list = [x if x != 'pads' else 'jersey' for x in cricket_items]
print(list)

['bat', 'ball', 'glouse', 'jersey', 'ground']

# **python - sort lists**

**sort list alphanumerically**

-in list conceot sort() method will sort alphanumerically ascending,by defualt.

In [15]:
#example
#sort the list
home_items = ['fan','fridge','ac','tv','inventor']
home_items.sort()
print(home_items)

['ac', 'fan', 'fridge', 'inventor', 'tv']

In [4]:
marks =[30,8,29,395,23]
marks.sort()
print(marks)

[8, 23, 29, 30, 395]

**sort descending order**

-to sort descending ,use key argument reverse = True

In [5]:
#example
list = [10,49,20,80,30,19]
list.sort(reverse = True)
print(list)

[80, 49, 30, 20, 19, 10]

**customize sort funtion**

-we can customize funtion using key argument 'key = funtion'

-sort the list based on how close the number is to 50

In [7]:
def myfunc(n):
  return abs(n - 50 )

list  = [100,203,3,40,29,20]
list.sort(key = myfunc)
print(list)

[40, 29, 20, 3, 100, 203]

In [12]:
def x(n):
  return abs(n-9)
list = [1,2,3,9,5,4,23,4,5,6]
list.sort(key = x)
print(list)

[9, 6, 5, 5, 4, 4, 3, 2, 1, 23]

**case insensitive sort**

-by defult the sort() method is case sensitive,resulting in all capital letters

-to overcome this we have built in funtion 'key funtions,use 'str.lower' as key funtion

In [18]:
#example
fruits = ['banana','Orange','kiwi','mango','Cherrry']
fruits.sort()
print(fruits)

['Cherrry', 'Orange', 'banana', 'kiwi', 'mango']

In [19]:
# TO overcome we have case- insenitive sort
fruits = ['banana','Orange','kiwi','mango','Cherrry']
fruits.sort(key = str.lower)
print(fruits)

['banana', 'Cherrry', 'kiwi', 'mango', 'Orange']

**reverse order**

-the reverse() method reverses the current sorting order of the elements

In [20]:
family = ['vara laxmi','pavan','kiran','karthik','janu']
family.reverse()
print(family)

['janu', 'karthik', 'kiran', 'pavan', 'vara laxmi']

# **Python-copy lists**

**copy a list**

-you cannot copy a list simply by typing list2 =  list1,because list2 will only refrence to list1  & what are the changes made in list1 will automatically made in list2

**use the copy() method**

-we can use built-in funtions copy() to copy a list

In [21]:
#example
x =  [10,20,30,40,50]
y = x.copy()
print(y)

[10, 20, 30, 40, 50]

In [33]:
x = ['apple','banana','grape','cherry']

y = x.copy()
print(x)
print(y)

['apple', 'banana', 'grape', 'cherry']
['apple', 'banana', 'grape', 'cherry']

**use list method**

-another way to make a copy in the  list is to use built-in funtion 'list()'

**slicing**

In [45]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:-1]
print(mylist)

['apple', 'banana']

# **Pyhton- join lists**

**join two lists**

-there are many ways to join,or concatenate,two or more lists in python

-one of the easiest way are using '+' operator

In [46]:
x =  ['a','d','r','w']
y =  [2,4,5,7,3,3]
new_list = x + y
print(new_list)

['a', 'd', 'r', 'w', 2, 4, 5, 7, 3, 3]

-another way to join two lists by appending all the items from list2 into list1

In [57]:
#example
list1 = ['a','b','c','d']
list2 =[1,2,3,4,5]

for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]

**use the extend() method**

-to add list2 at the end of list1

In [59]:
x = ['a','d','r','f']
y = [2,4,6,6,7]
x.extend(y)
print(x)

['a', 'd', 'r', 'f', 2, 4, 6, 6, 7]