<a href="https://colab.research.google.com/github/karthik-vana/Python_notes/blob/main/Python_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists concepts**

-lists used to store multiple item in a single variable

-lists are one of the 4 built in data types in python ,other three are tuple,set,dictionary

-lists are created using sqare brackets

-in lists concept memory allocation| slicing | skipping |concepts are similar to Strings

In [ ]:
#let's create a list using square brackets
family = ['pavan','kiran','karthik']
print(family)

['pavan', 'kiran', 'karthik']

**list items**

-list items are ordered,changeable,and allow duplicates

-list items are indexed,first item is starts from[0],[1],[2],[3],...etc until the values finshed their count in a variable

**ordered**

-ordered in the sense,the item have defined order,and will not change

-if you want to change item,it will be appear on the  end of the list

**Lists built-in function**

In [ ]:
#append - adds element at the end of the list
x = ['pavan','kiran','karthik']
x.append('vara laxmi')
print(x)

['pavan', 'kiran', 'karthik', 'vara laxmi']

In [2]:
#extend- adds elements of a list to the  end of the current list
x = ['pavan','kiran','karthik']
x.extend([10,20])
print(x)

['pavan', 'kiran', 'karthik', 10, 20]

In [ ]:
#insert- adds element at a specific position
x = ['pavan','kiran','karthik']
x.insert(1,'varalaxmi')
print(x)

['pavan', 'varalaxmi', 'kiran', 'karthik']

In [ ]:
#clear-removes all elements
x = ['pavan','kiran','karthik']
x.clear()
print(x)

[]

In [ ]:
#copy -  returns a copy of the list
x = ['pavan','kiran','karthik']
x.copy()
print(x)

['pavan', 'kiran', 'karthik']

In [28]:
#nrml copy-  whatever the change in list 1 same change will  appear in the list two
'''x =  [10,20,30]
y = x
x[1] = 100
print(x)
print(y) '''

#shaloow copy - changes in first list occur,but  not in second list
x =  [10,20,30]
y = x.copy()
y[1] = 100
print(x)
print(y)

#deep copy
'''list1 = [[1, 2], [3, 4]]
list2 = copy.deepcopy(list1)
list1[1][0] = 999
print(list1)
print(list2)'''

[10, 20, 30]
[10, 100, 30]

In [ ]:
# count - returns the no of elements with specific value

x =  ['pavan','kiran','karthik','pavan']
y= x.count('pavan')
print (y)

2

In [ ]:
#index- returns the index of the first element with specific values
x = [10,30,20,30]
y= x.index(30)
print(y)

1

In [ ]:
#pop- removes the element at the specific position
x =  [10,20,30]
x.pop(0)
print(x)

[20, 30]

In [ ]:
#remove - remove  the element of the specific value
x =  [10,20,30]
x.remove(20)

print(x)

[10, 30]

In [ ]:
#reverse- reverse the order of list
x = [10,20,30]
x.reverse()
print(x)

[30, 20, 10]

In [33]:
#sort- sort in the list defultly keep values in acending order(ascending or decending using reverse = True)
x = [10,20,30,10,20]
x.sort(reverse = True)
print(x)

[30, 20, 20, 10, 10]

**changeable**

the list is changeable,meaning that we can change,add,remove, items in the list it has been created

In [ ]:
x = ['pavan','kiran','karthik']
x.insert(1,'vara laxmi')
print(x)

['pavan', 'vara laxmi', 'kiran', 'karthik']

**allow duplicates**

-since, lists are indxed,lists can have items with same value

In [ ]:
x = ['karthik','vana','karthik','krishna']
print(x)

['karthik', 'vana', 'karthik', 'krishna']

**list length**

-to determine how many items in the list,by useing len() built-in function use can easily know thw length of the list

In [ ]:
laptops = ['hp','lenovo','dell','lenovo']
print(len(laptops))

4

**lists items - data types**

-list items can contains any data types (int,float,st,bool)

In [ ]:
x =  ['karthik',22,9.5,True]
print(x)

['karthik', 22, 9.5, True]

**Type()**

-lists are defined as objects with data tyoes

In [ ]:
x = ['karthik',22,9.5]
print(type(x))

<class 'list'>

**List constructer**

-it is possible to construct a new list by using list()

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**Python collections (Arrays)**

-list-a collection which is ordered,changeable,allows duplicates

-tuple-a collection which is ordered,unchangeable,allows duplicates

-set-a collection which is unordered,unchangeable, and unindexed,no duplicates

-dictionary-a collection which is ordered,changeable,no duplicates

**python - access list items **

-in list concept,values present in the list are indexed,we can access them referring to the index

- note - the first item has '0' index

In [35]:
#example
details = ['karthik',22,10] #indexed values
print(details[0]) # access  the value by refering index

karthik

**negative index**

-negative indexing means start from end

-1 refers to the last item ,-2 refers to the second last item

In [36]:
#example
details = ['karthik',22,10]
print(details[-1])

10

**range of indexes**

- you can specify a range ,where to start & end the range

- *when* specifying a range, the return value will be a new list with specified items

In [43]:
#example
x = ['karthik',20,2.0,10]
print(x[1:3]) # we have to give less value to high value

[20, 2.0]

**range of negative indexes**
- specify negative indexes,if you want to start the search from the  end of the list

In [41]:
x = [20,30,40,50,60,70]
print(x[-5:-2]) # we have to give less value to high value

[30, 40, 50]

**check if item exists**

- to determine a specific value present in the  list by using 'in' keyword

In [44]:
#example
cricket = ['bat','ball','wickects']
if 'ball' in cricket:
  print('yes','we can play now')

yes we can play now

# **python - change list items**

**change item value**

-to change the value of a specific item,refer to the index number

In [45]:
#example
x =  [10,20,30,40]
x[1] = 100
print(x)

[10, 100, 30, 40]

**change a range of the items**

-to change the value of item with a specific range,define a list with different values,and refer their indexes,where you want to insert new values

In [46]:
#example
the_list = ['apple','banana','grapes',20,30.1,True]
the_list[1:4] = ['watermelon','mango',10]
print(the_list)

['apple', 'watermelon', 'mango', 10, 30.1, True]

In [50]:
#example
the_list = ['apple','banana','cherry']
the_list[1:2] = ['watermelon']
print(the_list)

['apple', 'watermelon', 'cherry']

# **loop through a list**

-you can loop through the list items by using a for loop

-looping using list comprehension
(list comprehension offers shortest syntax for looping through list)

In [57]:
#example
fruits = ['apple','banana','mango']
for x in fruits:
  print(x)

apple
banana
mango

**loop through the the index numbers**

**for loop**

-you can also loop through the list by referring to thier index numbers

-use range() & len() funtions to create a suitable iterable

In [71]:
#example
friuts =  ['apple','banana','cherry']
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
mango

**while loop**

-we can loop through the list items by using a 'while' loop

-by useing len() funtion to determine the length of the list,then start at 0 and loop your way through the lists items by refering to their indexes

-remember to increase the index by 1 after each iteration

In [72]:
#example
x = ['apple','banana','cherry']
i = 0
while i < len(x):
  print(x[i])
  i =  i+1

apple
banana
cherry