<a href="https://colab.research.google.com/github/karthik-vana/Python_notes/blob/main/Python_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists concepts**

-lists used to store multiple item in a single variable

-lists are one of the 4 built in data types in python ,other three are tuple,set,dictionary

-lists are created using sqare brackets

-in lists concept memory allocation| slicing | skipping |concepts are similar

In [ ]:
#let's create a list using square brackets
family = ['pavan','kiran','karthik']
print(family)

['pavan', 'kiran', 'karthik']

**list items**

-list items are ordered,changeable,and allow duplicates

-list items are indexed,first item is starts from[0],[1],[2],[3],...etc until the values finshed their count in a variable

**ordered**

-ordered in the sense,the item have defined order,and will not change

-if you want to change item,it will be appear on the  end of the list

**Lists built-in function**

In [ ]:
#append - adds element at the end of the list
x = ['pavan','kiran','karthik']
x.append('vara laxmi')
print(x)

['pavan', 'kiran', 'karthik', 'vara laxmi']

In [ ]:
#extend- adds elements of a list to the  end of the current list
x = ['pavan','kiran','karthik']
x.extend([10,20])
print(x)

['pavan', 'kiran', 'karthik', 10, 20]

In [ ]:
#insert- adds element at a specific position
x = ['pavan','kiran','karthik']
x.insert(1,'varalaxmi')
print(x)

['pavan', 'varalaxmi', 'kiran', 'karthik']

In [ ]:
#clear-removes all elements
x = ['pavan','kiran','karthik']
x.clear()
print(x)

[]

In [ ]:
#copy -  returns a copy of the list
x = ['pavan','kiran','karthik']
x.copy()
print(x)

['pavan', 'kiran', 'karthik']

In [ ]:
# count - returns the no of elements with specific value

x =  ['pavan','kiran','karthik','pavan']
y= x.count('pavan')
print (y)

2

In [3]:
#index- returns the index of the first element with specific values
x = [10,30,20,30]
y= x.index(30)
print(y)

1

In [ ]:
#pop- removes the element at the specific position
x =  [10,20,30]
x.pop(0)
print(x)

[20, 30]

In [6]:
#remove - remove  the element of the specific value
x =  [10,20,30]
x.remove(20)

print(x)

[10, 30]

In [ ]:
#reverse- reverse the order of list
x = [10,20,30]
x.reverse()
print(x)

[30, 20, 10]

In [9]:
#sort- sort the list
x = [10,20,30,10,20]
x.sort()
print(x)

[10, 10, 20, 20, 30]

**changeable**

the list is changeable,meaning that we can change,add,remove, items in the list it has been created

In [ ]:
x = ['pavan','kiran','karthik']
x.insert(1,'vara laxmi')
print(x)

['pavan', 'vara laxmi', 'kiran', 'karthik']

**allow duplicates**

-since, lists are indxed,lists can have items with same value

In [1]:
x = ['karthik','vana','karthik','krishna']
print(x)

['karthik', 'vana', 'karthik', 'krishna']

**list length**

-to determine how many items in the list,by useing len() built-in function use can easily know thw length of the list

In [13]:
laptops = ['hp','lenovo','dell','lenovo']
print(len(laptops))

4

**lists items - data types**

-list items can contains any data types (int,float,st,bool)

In [15]:
x =  ['karthik',22,9.5,True]
print(x)

['karthik', 22, 9.5, True]

**Type()**

-lists are defined as objects with data tyoes

In [19]:
x = ['karthik',22,9.5]
print(type(x))

<class 'list'>

**List constructer**

-it is possible to construct a new list by using list()

In [20]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**Python collections (Arrays)**

-list-a collection which is ordered,changeable,allows duplicates

-tuple-a collection which is ordered,unchangeable,allows duplicates

-set-a collection which is unordered,unchangeable, and unindexed,no duplicates

-dictionary-a collection which is ordered,changeable,no duplicates