<a href="https://colab.research.google.com/github/karthik-vana/Python_notes/blob/main/Python_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists concepts**

-lists used to store multiple item in a single variable

-lists are one of the 4 built in data types in python ,other three are tuple,set,dictionary

-lists are created using sqare brackets

-in lists concept memory allocation| slicing | skipping |concepts are similar

In [3]:
#let's create a list using square brackets
family = ['pavan','kiran','karthik']
print(family)

['pavan', 'kiran', 'karthik']

**list items**

-list items are ordered,changeable,and allow duplicates

-list items are indexed,first item is starts from[0],[1],[2],[3],...etc until the values finshed their count in a variable

In [9]:
#Ordered
#Ordered in the sense ,the items have definded order,and will not change
#if you add new items to a list, the new items will appear at the end of the list
#append - adds element at the end of the list
x = ['pavan','kiran','karthik']
x.append('vara laxmi')
print(x)

['pavan', 'kiran', 'karthik', 'vara laxmi']

In [10]:
#extend- adds elements of a list to the  end of the current list
x = ['pavan','kiran','karthik']
x.extend([10,20])
print(x)

['pavan', 'kiran', 'karthik', 10, 20]

In [15]:
#insert- adds element at a specific position
x = ['pavan','kiran','karthik']
x.insert(1,'varalaxmi')
print(x)

['pavan', 'varalaxmi', 'kiran', 'karthik']

In [17]:
#clear-removes all elements
x = ['pavan','kiran','karthik']
x.clear()
print(x)

[]

In [18]:
#copy -  returns a copy of the list
x = ['pavan','kiran','karthik']
x.copy()
print(x)

['pavan', 'kiran', 'karthik']

In [23]:
# count - returns the no of elements with specific value

x =  ['pavan','kiran','karthik','pavan']
y= x.count('pavan')
print (y)

2

In [29]:
#index- returns the index of the first element with specific values
x = [10,30,20,30]
x.index(30)
print(x)

[10, 30, 20, 30]

In [30]:
#pop- removes the element at the specific position
x =  [10,20,30]
x.pop(0)
print(x)

[20, 30]

In [34]:
#remove - remove  the element of the specific value
x =  [10,20,30]
x.pop(0)

print(x)

[20, 30]

In [35]:
#reverse- reverse the order of list
x = [10,20,30]
x.reverse()
print(x)

[30, 20, 10]

In [37]:
#sort- sort the list
x = [10,20,30,10,20]
x.sort
print(x)

[10, 20, 30, 10, 20]

**changeable**

the list is changeable,meaning that we can change,add,remove, items in the list it has been created

In [40]:
x = ['pavan','kiran','karthik']
x.insert(1,'vara laxmi')
print(x)

['pavan', 'vara laxmi', 'kiran', 'karthik']

In [ ]:
** allow duplicates**